<a href="https://colab.research.google.com/github/Bits-Deep-Analytics/PFA/blob/main/Chapter-3_Introduction to Python Programming.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open this notebook in Colaboratory"/></a>

# Introduction to Python programming

## Introduction

In [ ]:
print("This is a built-in function") # Test if Python is running or not
# This is a comment to be ignored by the interpreter

## Variables and Assignment Statements

In [ ]:
45 + 72

###  Adding Variable Values and Viewing the Result

In [ ]:
x = 7
y = 3
x + y

### Calculations in Assingment Statements

In [ ]:
total = x + y # Total is an identifier
total

### Types

In [ ]:
type(x)

In [ ]:
type(10.5)

## Arithmetic

### Multiplication (*)

In [ ]:
7 * 4

### Exponentiation (**)

In [ ]:
2 ** 10

### True Division (/) vs. Floor Division (//)

In [ ]:
# True Division
7 / 4

In [ ]:
# Floor division (//)
7 // 4

In [ ]:
3 // 5

In [ ]:
14 // 7

In [ ]:
-13 / 4

In [ ]:
-13 // 4

### Exceptions and Tracebacks

In [ ]:
# 123 / 0

### Remainder Operator

In [ ]:
17 % 5

In [ ]:
7.5 % 3.5

### Grouping Expressions with Parentheses

In [ ]:
10 * (5 + 3)

In [ ]:
10 * 5 + 3

### Operator Precedence Rules

#### Operator Grouping
#### Redundant ParenthesesOperator Grouping
#### Operand Types

## Function print and an Intro to Single- and Double-Quoted Strings

In [ ]:
print('Welcome to Python!')

### Printing a Comma-Separated List of Items

In [ ]:
print('Welcome', 'to', 'Python!')

### Printing Many Lines of Text with One Statement

In [ ]:
print('Welcome\nto\n\nPython!')

In [ ]:
### Ignoring a Line Break in a Long String

In [ ]:
print('this is a longer string, so we \
 split it over two lines')

### Printing the Value of an Expression

In [ ]:
print('Sum is', 7 + 3)

## Triple-Quoted Strings

### Including Quotes in Strings

In [ ]:
print('Display "hi" in quotes')

In [ ]:
# print('Display 'hi' in quotes')

In [ ]:
print('Display \'hi\' in quotes')

In [ ]:
print("Display the name O'Brien")

In [ ]:
print("Display \"hi\" in quotes")

In [ ]:
print("""Display "hi" and 'bye' in quotes""")

### Multiline Strings

In [ ]:
triple_quoted_string = """This is a triple-quoted
 string that spans two lines"""

In [ ]:
print(triple_quoted_string)

In [ ]:
triple_quoted_string

## Getting Input from the User

In [ ]:
name = input("What's your name? ")

In [ ]:
name

In [ ]:
print(name)

### Function input Always Returns a String

In [ ]:
value1 = input('Enter first number: ')

In [ ]:
value2 = input('Enter second number: ')

In [ ]:
value1 + value2

### Getting an Integer from the User

In [ ]:
value = input('Enter an integer: ')

In [ ]:
value = int(value)

In [ ]:
value

In [ ]:
another_value = int(input('Enter another integer: '))

In [ ]:
another_value

In [ ]:
value + another_value

In [ ]:
bad_value = int(input('Enter another integer: '))

In [ ]:
int(10.5)

## Decision Making: The if Statement and Comparison Operators

In [ ]:
7 > 4

In [ ]:
7 < 4

### Making Decisions with the if Statement: Introducing Scripts

In [ ]:
# fig02_01.py
"""Comparing integers using if statements and comparison operators."""

print('Enter two integers, and I will tell you',
       'the relationships they satisfy.')

 # read first integer
number1 = int(input('Enter first integer: '))

 # read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
     print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
     print(number1, 'is less than', number2)

if number1 > number2:
     print(number1, 'is greater than', number2)

if number1 <= number2:
     print(number1, 'is less than or equal to', number2)

if number1 >= number2:
     print(number1, 'is greater than or equal to', number2)

### Chaining Comparisons

In [ ]:
x = 3
1 <= x <= 5

In [ ]:
x = 10
1 <= x <= 5

## Objects and Dynamic Typing

In [ ]:
type(7)

In [ ]:
type(4.1)

In [ ]:
type('dog')

### Variables Refer to Objects

In [ ]:
x = 7
x + 10

In [ ]:
x = 7

In [ ]:
x = x + 10
x

### Dynamic Typing

In [ ]:
type(x)

In [ ]:
x = 4.1

In [ ]:
type(x)

In [ ]:
x = 'dog'

In [ ]:
type(x)

### Garbage Collection

In [ ]:
x = 5
x = 'Hi'
# 5 is garbage now, will now be taken by garbage collector

## Intro to Data Science: Basic Descriptive Statistics

### Determining the Minimum of Three Values

In [ ]:
"""Find the minimum of three values."""
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

minimum = number1

if number2 < minimum:
  minimum = number2

if number3 < minimum:
  minimum = number3
print('Minimum value is', minimum)

### Determining the Minimum and Maximum with Built-In Functions min and max

In [ ]:
min(36, 27, 12)

In [ ]:
max(36, 27, 12)

### Determining the Range of a Collection of Values

In [ ]:
# Write python code to calculate range
# Hint: Find min and max to calculate range

### Functional-Style Programming: Reduction

In [ ]:
print("Average = ", sum([3,3,4])/3)