# Sequences: Lists and Tuples

## Introduction

Create and initialize lists and
tuples.
*   Refer to elements of lists,
tuples and strings.
*   Sort and search lists, and
search tuples.
*   Pass lists and tuples to
functions and methods.
*   Use list methods to perform
common manipulations, such
as searching for items, sorting
a list, inserting items and
removing items.
*   Use additional Python
functional-style programming
capabilities, including
lambdas and the operations
filter, map and reduce.
*   Use functional-style list
comprehensions to create lists
quickly and easily, and use
generator expressions to
generate values on demand.
*   Use two-dimensional lists.
*   Enhance your analysis and
presentation skills with the
Seaborn and Matplotlib
visualization libraries.

## List

In [ ]:
l1 = ['Mary', 'Smith', 3.57, 2022] # Creating a list
l1[0] # Accessing list items

'Mary'

In [ ]:
len(l1) # Determining a Listâ€™s Length

4

In [ ]:
print(l1[-1])

2022

In [ ]:
l1[2] = 4 # Lists Are Mutable

In [ ]:
s = 'hello'
# s[0] = 'H' # Strings are like tuples
print(s)

hello

### Accessing Elements from the End of the List with Negative Indices

In [ ]:
# s[10] # What's wrong in it
s[-1]

'o'

In [ ]:
# Overload it
s[0] + s[1+2] # Indices Must Be Integers or Integer Expressions

'hl'

In [ ]:
l1[0] = 2

### Appending to a List with +=

In [ ]:
a_list = []
for number in range(1,6):
  a_list += [number]

a_list

[1, 2, 3, 4, 5]

In [ ]:
a_list = []
for number in range(1, 6):
  a_list = a_list + [number]

a_list

[1, 2, 3, 4, 5]

In [ ]:
letters = []
letters += 'Python'
letters

['P', 'y', 't', 'h', 'o', 'n']

### Concatenating Lists with +

In [ ]:
list1 = [10, 20, 30]
list2 = [40, 50]
concatenated_list = list1 + list2
concatenated_list

[10, 20, 30, 40, 50]

### Using for and range to Access List Indices and Values

In [ ]:
for i in range(len(concatenated_list)):
  print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

### Comparison Operators

In [ ]:
a = [1, 2, 6]
b = [1, 2, 3]
c = [1, 2, 4]
a < c
# c > a
# a < b

False

In [ ]:
def square_list(values):
  for i in range(len(values)):
    values[i] **= 2

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_list(numbers)
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Tuples

### Creating Tuples

In [ ]:
student_tuple = ()
student_tuple
len(student_tuple)

0

In [ ]:
student_tuple = ('John', 'Green', 3.3)
student_tuple
len(student_tuple)

3

In [ ]:
another_student_tuple = 'Mary', 'Red', 3.3
another_student_tuple

('Mary', 'Red', 3.3)

In [ ]:
a_singleton_tuple = 'red',
a_singleton_tuple

('red',)

### Accessing Tuple Elements

In [ ]:
time_tuple = (9, 16, 1)
time_tuple
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

### Adding Items to a String or tuple

In [ ]:
tuple1 = (10, 20, 30)
tuple2 = tuple1
tuple2

(10, 20, 30)

In [ ]:
tuple1 = (40,50)
tuple1

(40, 50)

In [ ]:
tuple2 = tuple1 + (40,50)
tuple2

(40, 50, 40, 50)

### Appending Tuples to Lists

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers += (6, 7)
numbers

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
tuple1 += (40,50)
tuple1 = tuple1 + tuple2
tuple1

(40, 50, 40, 50, 40, 50, 40, 50)

### Tuples May Contain Mutable Objects

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[2][2]  = 1
student_tuple

('Amanda', 'Blue', [98, 75, 1])

## Unpacking Sequences

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])
first_name, grades = student_tuple
grades
# student_tuple[0:1]

[98, 85, 87]

In [ ]:
first, second = 'hi'
print(f'{first} {second}')

h i

In [ ]:
number1, number2, number3 = range(10, 40, 10)
print(f'{number1} {number2} {number3}')

10 20 30

### Swapping Values Via Packing and Unpacking

In [ ]:
number1 = 99
number2 = 22
print(number1,number2)
tuple3 = (number2, number1) # Packing
number1, number2 = tuple3 # Unpacking
print(number1,number2)

99 22
22 99

### Accessing Indices and Values Safely with Built-in Function enumerate

In [ ]:
colors = ['red', 'orange', 'yellow']
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [ ]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [ ]:
for index, value in enumerate(colors):
  print(f'{index}: {value}')

0: red
1: orange
2: yellow

In [ ]:
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8} Bar')
for index, value in enumerate(numbers):
  print(f'{index:>5}{value:>8} {'*' * value}')

Creating a bar chart from numbers:
Index   Value Bar
    0      19 *******************
    1       3 ***
    2      15 ***************
    3       7 *******
    4      11 ***********

### Sequence slicing

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
numbers[2:6]

[5, 7, 11, 13]

In [ ]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [ ]:
numbers[6:]

[17, 19]

### Specifying a Slice with No Indices

In [ ]:
numbers[:]

[6, 7, 8, 9]

### Slicing with Steps

In [ ]:
numbers[::2]

[2, 5, 11, 17]

In [ ]:
numbers[::-2]

[19, 13, 7, 3]

In [ ]:
numbers[-1:-9:-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [ ]:
numbers[0:3] = ['two', 'three', 'five']
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [ ]:
numbers[0:3] = []
numbers

[7, 11, 13, 17, 19]

In [ ]:
list1 = []
for item in range(1, 6):
  list1.append(item)

print(list1)

[1, 2, 3, 4, 5]

## List comprehension

In [ ]:
a = [item for item in range(1, 6)]
a

[1, 2, 3, 4, 5]

In [ ]:
list2 = [item for item in range(1, 6)]
print(list2)

[1, 2, 3, 4, 5]

In [ ]:
list3 = [item * 3 for item in range(1, 6)]
list3

[3, 6, 9, 12, 15]

In [ ]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']
colors2 = [item.upper() for item in colors]
colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

## Del statement

In [ ]:
numbers = list(range(0, 10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
del numbers[-1]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
del(numbers[0:2])
numbers

[6, 7, 8, 9]

### Deleting a Slice Representing the Entire List

In [ ]:
del numbers[:]
numbers

[]

### Deleting a Variable from the Current Session

In [ ]:
# del numbers
# numbers

## Passing Lists to Functions

In [ ]:
def modify_elements(items):
  """"Multiplies all element values in items by 2."""
  for i in range(len(items)):
    items[i] *= 2

numbers = [10, 3, 7, 1, 9]
modify_elements(numbers)
numbers

[20, 6, 14, 2, 18]

### Passing a Tuple to a Function

In [ ]:
numbers_tuple = (10, 20, 30)
numbers_tuple

(10, 20, 30)

In [ ]:
# modify_elements(numbers_tuple) # Tuple

## Sorting Lists

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Sorting a List in Descending Order

In [ ]:
numbers.sort(reverse=True)
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
ascending_numbers = sorted(numbers) # Creates a new list

In [ ]:
foods = ['Cookies', 'pizza', 'Grapes',
         'apples', 'steak', 'Bacon']
a = sorted(foods)
a # Follows lexicographical order

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

## Searching Sequences

In [ ]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]
numbers.index(5)

6

### Specifying the Starting Index of a Search

In [ ]:
numbers *= 2
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [ ]:
numbers.index(5, 0) # Search 5 from particular index

6

In [ ]:
numbers.index(7, 0, 9)  # Start and end indices

1

### in and not in operators

In [ ]:
1000 in numbers

False

In [ ]:
5 in numbers

False

In [ ]:
key = 1000 # Rudimentary exception handling
if key in numbers:
  print(f'found {key} at index {numbers.index(key)}')
else:
  print(f'{key} not found')

1000 not found

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
mytuple = (0, 1, False)
mylist = [False, True, False]
x = any(mylist)
y = all(mylist)

In [ ]:
x

True

In [ ]:
y

False

## Other list methods

In [ ]:
color_names = ['orange', 'yellow', 'green']

In [ ]:
color_names.insert(0, 'red')
color_names

['red', 'orange', 'yellow', 'green']

### Adding an Element to the End of a List

In [ ]:
color_names.append('blue')
color_names

['red', 'orange', 'yellow', 'green', 'blue']

### Adding All the Elements of a Sequence to the End of a List

In [ ]:
color_names.extend(['indigo', 'violet'])
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [ ]:
sample_list = []
s = 'abc'
sample_list.extend(s)
sample_list

['a', 'b', 'c']

In [ ]:
t = (1, 2, 3)
sample_list.extend(t)
sample_list

['a', 'b', 'c', 1, 2, 3]

#### Tuple concatenation

In [ ]:
sample_list.extend((4, 5, 6)) # Tuples can be added directly
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

### Removing the First Occurrence of an Element in a List

In [ ]:
color_names.remove('green')
color_names

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet']

### Emptying a List

In [ ]:
color_names.clear()
color_names

[]

### Counting the Number of Occurrences of an Item

In [ ]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3,
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]
for i in range(1, 6):
  print(f'{i} appears {responses.count(i)} times in responses')

1 appears 3 times in responses
2 appears 5 times in responses
3 appears 8 times in responses
4 appears 2 times in responses
5 appears 2 times in responses

In [ ]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']
color_names.reverse()
color_names

['blue', 'green', 'yellow', 'orange', 'red']

### Copying a List

In [ ]:
copied_list = color_names.copy()
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

## Simulating Stacks with Lists

In [ ]:
stack = []
stack.append('red')
stack

['red']

In [ ]:
stack.append('green')
stack

['red', 'green']

In [ ]:
stack.pop()

'green'

In [ ]:
stack

['red']

In [ ]:
stack.pop()

'red'

In [ ]:
stack

[]

In [ ]:
# stack.pop()

## Generator Expressions

In [3]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
for value in (x ** 2 for x in numbers if x % 2 != 0):
  print(value, end=' ')
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

9 49 1 81 25

In [7]:
x = [x ** 2 for x in numbers if x % 2 != 0]
x

[9, 49, 1, 81, 25]

In [11]:
x = [item for item in range(1, 6) ]
x

[1, 2, 3, 4, 5]

## Filter, Map and Reduce

In [13]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

### Higher order functions

In [14]:
def is_odd(x):
  """Returns True only if x is odd."""
  return x % 2 != 0

list(filter(is_odd, numbers))

[3, 7, 1, 9, 5]

In [15]:
[item for item in numbers if is_odd(item)]

[3, 7, 1, 9, 5]

### Using a lambda Rather than a Function

In [16]:
list(filter(lambda x: x % 2 != 0, numbers)) # Got no name

[3, 7, 1, 9, 5]

## Mapping a Sequenceâ€™s Values to New Values

In [17]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [18]:
list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [19]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

### Combining filter and map

In [20]:
list(map(lambda x: x ** 2, filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [ ]:
[x ** 2 for x in numbers if x % 2 != 0]

## Other Sequence Processing Functions

### Finding the Minimum and Maximum Values Using a Key Function

In [49]:
'R' < 'S'
ord('R')

True

82

In [95]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']
colors_a = [x.lower() for x in colors]
print(sorted(colors_a))

['blue', 'green', 'orange', 'red', 'yellow']

In [ ]:
min(colors, key=lambda s: s.lower())

In [ ]:
max(colors, key=lambda s: s.lower())

### Iterating Backward Through a Sequence

In [58]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]
reversed_numbers = [item ** 2 for item in reversed(numbers)]
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

### Combining Iterables into Tuples of Corresponding Elements

In [66]:
names = ['Bob', 'Sue', 'Amanda']
grade_point_averages = [3.5, 4.0, 3.75]
for name, gpa in zip(names, grade_point_averages):
  print(f'Name={name}; GPA={gpa}')

Name=Bob; GPA=3.5
Name=Sue; GPA=4.0
Name=Amanda; GPA=3.75

## Two-Dimensional Lists
Double script/indexed lists

In [69]:
a = [[77, 68, 86, 73], # first student's grades
[96, 87, 89, 81], # second student's grades
[70, 90, 86, 81]] # third student's grades

In [70]:
for row in a:
  for item in row:
    print(item, end=' ')
  print()

77 68 86 73
96 87 89 81
70 90 86 81

In [74]:
for i, row in enumerate(a):
  for j, item in enumerate(row):
    print(f'a[{i}][{j}]={item} ', end=' ')
  print()

a[0][0]=77  a[0][1]=68  a[0][2]=86  a[0][3]=73
a[1][0]=96  a[1][1]=87  a[1][2]=89  a[1][3]=81
a[2][0]=70  a[2][1]=90  a[2][2]=86  a[2][3]=81

In [79]:
sales = [[1,2,3],[4,5,6],[7,8,9]] # m = 2; n = 3
print(sales)
for row in range(len(sales)):
  for col in range(len(sales[row])):
    sales[row][col] = 0
sales

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]